{% extends "base.html" %}

{% block content %}
<br>
<div class="index-pad">
    <center><h1 >Marymount College Uniform Shop</h1></center>

    <center><img src="static/kid1.jpg" alt="Marymount logo" style="width:590px;height:400px;"></center>


<br>
<div class="welcome_box" >
	<h2>Welcome!</h2>
<br>

    <center><p>At the Marymount College Uniform Shop you will be able to choese and purchase the uniforms for Marymount College. Below are a list of what is needed for boys and girls.</p></center>
</div>
<br>
<br>
<div class="row">
  <div class="column">
    <h2>Females</h2>
    <p>Formal wear</p>
    	  <li>Blouse</li>
    	  <li>Skirt</li>
    	  <li>Socks</li>
    	  <li>Jumper (optional)</li>
    	  <li>Bag</li>
    	  <li>Hat</li>
    <p>Sport Uniform</p>
    	  <li>Shorts</li>
    	  <li>Polo</li>
    	  <li>Socks</li>
    	  <li>Tracksuit (optional)</li>	  
  </div>
<div class="column">
    <h2>Males</h2>
    <p>Formal wear</p>
    	  <li>Shirt </li>
    	  <li>Shorts</li>
    	  <li>Socks</li>
    	  <li>Jumper (optional)</li>
    	  <li>Bag</li>
    	  <li>Hat</li>
    <p>Sport Uniform</p>
    	  <li>Shorts</li>
    	  <li>Polo</li>
    	  <li>Socks</li>
    	  <li>Tracksuit (optional)</li>
  </div>
</div>
</div>


<br>
{% endblock %}