{% extends "base.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<h1>College Items</h1>

<div class="wrapper">
    <div class="sidebar">
      <img src="static/marypic.jpg" alt="Marymount logo" style="width:200px;height:200px;">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="index"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#Formal"></i>Formal</a></li>
            <li><a href="#Sport">Sport</a></li>
            <li><a href="#Assessory">Assesoriss</a></li>
        </ul> 
    </div>
</div>

<table class="tablehi">



</table>
<br>
<br>
<h2> Formal </h2>
<br>
<br>
<br>



<!--- The Menu--->
<!--- The Skirt--->
<table class="tablehi">

<td>  
<div class="w3-container"> 
<img src="static/skirt.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Skirt</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>

<td>
<div class="w3-container"> 
<p>            </p><p>            </p>
</div>
</td>

<td>
<div class="w3-container"> 
<img src="static/shirt.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Shirt</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>
<!--- Next image--->
<td>
<div class="w3-container"> 
<p>            </p><p>            </p>
</div>
</td>

<td>
<div class="w3-container"> 
<img src="static/short.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Formal</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>

</table>


<br>
<br>
<br>
<a id="Sport">
<h2> Sport </h2>
</a>
<br>
<br>
<br>




<table class="tablehi">

<td>  
<div class="w3-container"> 
<img src="static/jumper2.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Skirt</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>

<td>
<div class="w3-container"> 
<p>            </p><p>            </p>
</div>
</td>

<td>
<div class="w3-container"> 
<img src="static/short.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Shirt</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>

<td>
<div class="w3-container"> 
<p>            </p><p>            </p>
</div>
</td>

<td>
<div class="w3-container"> 
<img src="static/jumper.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Formal</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>

</table>




<br>
<br>
<br>
<a id="Assessory">
<h2> Assesories </h2>
</a>
<br>
<br>
<br>




<table class="tablehi">

<td>  
<div class="w3-container"> 
<img src="static/tie.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Boy's Tie</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>

<td>
<div class="w3-container"> 
<p>            </p><p>            </p>
</div>
</td>

<td>
<div class="w3-container"> 
<img src="static/girltie.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Girl's Tie</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>

<td>
<div class="w3-container"> 
<p>            </p><p>            </p>
</div>
</td>

<td>
<div class="w3-container"> 
<img src="static/socks.jpg" alt="Marymount logo" style="width:200px;height:200px;">
<p>Socks</p>
<a href="checkout"><button type="submit" value="skirt">Add to cart</button></a>
</div>
</td>

</table>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}